body {
	background-color: #2C5F2D;
	font-family:Arial, Helvetica, sans-serif
}

/* For NAVBAR */
.navbar {
	background: transparent;
	/* position: fixed;
	width: 100%; */
	z-index: 999;
	margin-bottom: 8%;
}
  
.container-fluid {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
}
  
.navbar-brand {
color: #fff; /* Set the text color for the navbar brand */
font-weight: normal;
text-decoration: none;
}

#introduction {
	margin-bottom: 5%;
}

#development-platform {
	margin-bottom: 5%;;
}